<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 text-center text-lg-center">
        <h1 class="mb-30 title">Get Started</h1>
        <p class="mb-40">You are new to SIM? Here you will find all information and guidelines.</p>
        <div>
          <div>
            <div class="row">
  
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder1</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder2</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder3</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder4</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder5</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder6</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder7</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
  
              <div class="col-lg-4 col-md-6 col-sm-9 mb-4 text-center text-lg-center">
                <div class="card card-lg match-height" style="height: 318px;">
                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title h5">Placeholder8</h3>
                    <p class="card-text mb-4"></p>
                    <a href="" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                  </div>
                </div>
              </div>
  
  
            </div>
          </div>
  
        </div>
      </div>
    </div>